<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tecnoservice.Properties.Settings.TecnoServiceConnectionString"
            connectionString="Data Source=FALCON-DELL\FALCON_SQL;Initial Catalog=TecnoService;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tecnoservice.Properties.Settings.TecnoServiceConnectionString1"
            connectionString="Data Source=OROS23;Initial Catalog=TecnoService;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>